body
    background: $accent-purple

    section
        padding: 80px 0
    
        .section_title
            position: relative
            z-index: 3
            font-size: 85px
            color: white
            text-align: center
