.projects
    display: flex
    flex-direction: column
    gap: 65px
    max-width: 1680px
    margin: auto
    position: relative
    z-index: 2
    width: 100%
    .project_group
        display: flex
        gap: 30px
        padding: 0 40px
        @media (max-width: 900px)
            padding: 0 20px
        &__list
            flex-basis: 50%
            width: 100%
            display: flex
            flex-direction: column
            gap: 20px
            justify-content: space-between
    .left
        flex-direction: row-reverse

@media (max-width: 900px)
    .projects
        gap: 20px
        .left
            flex-direction: row
        .project_group__list
            flex-basis: 100%