.projects
    max-width: 100%
    position: relative
    background: $dark-gray

    &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-image: url('../../img/circuit-board.svg')
        z-index: 1
        opacity: .15
    &_list
        max-width: 1400px
        margin: auto
        display: flex
        flex-direction: column
        gap: 200px
        margin-bottom: 100px