.section--projects
    .projects
        overflow: scroll
        margin-top: 80px
        border-radius: 100px 100px 0 0
        .projects_list
            max-width: 1600px
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 40px
            margin: auto
            flex-wrap: wrap