.nav
    position: fixed
    top: 40px
    right: 150px
    z-index: 5
    border: solid 2px $accent-purple
    border-radius: 100px
    background: #141414E6
    backdrop-filter: blur(1rem)
    &_links
        display: flex
        gap: 20px
        padding: 3px
        a
            padding: 10px 20px
            border-radius: 100px
            text-decoration: none
            font-size: 18px
            color: $accent-purple
            transition: 300ms ease-in-out
            &:hover
                transition: 300ms ease-in-out
                background: $accent-purple
                color: $dark-gray



