.nav
    position: fixed
    top: 40px
    right: 150px
    z-index: 5
    border: solid 2px $accent-purple
    border-radius: 100px
    background: #141414E6
    backdrop-filter: blur(1rem)
    &_links
        display: flex
        gap: 20px
        padding: 3px
        a
            padding: 10px 20px
            border-radius: 100px
            text-decoration: none
            font-size: 18px
            color: white
            transition: 300ms ease-in-out
            font-weight: bold
            text-transform: uppercase
            &:hover
                transition: 300ms ease-in-out
                background: $accent-purple
                color: $dark-gray

    .mobile-nav_links
        position: absolute
        left: 120px
        top: 100px
        display: none
        gap: 20px
        padding: 3px
        flex-direction: column
        width: 200px
        background: #141414E6
        backdrop-filter: blur(1rem)
        transition: 300ms ease-in-out
        a
            padding: 10px 20px
            border-radius: 100px
            text-decoration: none
            font-size: 18px
            color: white
            transition: 300ms ease-in-out
            font-weight: bold
            text-transform: uppercase
            &:hover
                transition: 300ms ease-in-out
                background: $accent-purple
                color: $dark-gray
.nav-toggle
    display: none
    justify-content: space-between
    align-items: center
    padding: 10px
    .hamburger
        display: flex
        flex-direction: column
        cursor: pointer
        .bar1,
        .bar2,
        .bar3
            width: 20px
            height: 2px
            background-color: $accent-purple
            margin: 5px 0
            transition: 0.4s
            z-index: 3

.hamburger.open .bar1
    transform: rotate(-45deg) translate(-9px, 8px)

.hamburger.open .bar2
    transform: rotate(45deg) translate(-1px, 0)

.hamburger.open .bar3
    opacity: 0

.mobile-nav_links.open
    left: -75px
    transition: 300ms ease-in-out


@media (max-width: 800px)
    .nav
        right: 40px
        .desktop
            display: none
        .mobile
            display: flex
        .mobile-nav_links
            display: inline-flex


