.project_card
    border: solid 2px $accent-purple
    padding: 30px 25px
    background: $dark-gray
    cursor: pointer
    transition: 300ms ease-in-out
    &:hover
        transition: 300ms ease-in-out
        box-shadow: 0 0 10px 1px $accent-purple !important
    h2
        color: white
        margin: 0
        padding-bottom: 5px
    p
        color: $light-gray
        margin: 0
.project_card.active
    box-shadow: 0 0 10px 1px $accent-purple

@media (max-width: 900px)
    .project_card.active
        box-shadow: unset