.cta
    padding: 20px 0
    color: $dark-gray
    white-space: nowrap
    display: flex
    justify-content: center
    p
        margin: 0
        font-size: 45px
        font-weight: bold
    .pipes
        -webkit-text-fill-color: transparent
        -webkit-text-stroke-width: 2px
        -webkit-text-stroke-color: $dark-gray